@import url('https://fonts.googleapis.com/css2?family=Roboto:wdth,wght@75..100,300&display=swap');

*{
padding: 0;
margin:0;
box-sizing: border-box;
font-family: "Roboto", sans-serif;
}

nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
align-items: center;
padding: 0 16px;
background-color: #cafdff;
}

header {
    background-color: #eadcff;
    height: calc(100vh-70px);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 72px;
}

.subheader {
    font-size: 36px;
    margin: 16px 0 24px 0;
}

button {
    background-color: #05c7cf;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;
}
a {
    color: #000;
font-size: 24px;
font-weight: 300;
}
.logo{
    width: 300px;
}

ul {
    display: flex;
}
    
    li {
list-style-type: none;
padding-left: 16px;
    }


.row{
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*

ABOUT

*/

#about,
#discord,
#contact {
    padding: 48px 0;
    background-color: #f8ffdc;
}

h2 {
font-size: 60px;
text-align: center;
margin-bottom: 24px;
}

.section_description {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_descrption--wrapper {
    width: 60%;
    padding: 0 24px;
}

.section_descrption--para {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
}

.about_img--wrapper{
    width: 40%;
    padding: 0 24px;
} 
/*

Discord

*/
form{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

input, textarea {
    margin-bottom: 24px;
    font-size: 20px;
}

  footer {
    background-color: #aaf5ff;
  }  

  .footer_logo {
    margin-bottom: 0;
    max-width: 480px;
    align-items: center;
  }